.genre-wrapper {
    display: flex;
    flex-direction: column;

    padding: 40px 180px;
}

.genres-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 16px;
}

.genre-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease-out 200ms;

    padding: 20px;
}

.genre-item:hover {
    transform: scale(1.02);
}

.genre-item-img {
    position: absolute;
    bottom: -30px;
    right: -25px;

    height: 75%;
    border-radius: 5px;
    transform: rotate(12deg);
}

.genre-item-title {
    font-size: 32px;
}


.genre-options {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 24px;
    right: 24px;
}