.text-field {
    --side-padding: 10px;
    --tb-padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    border: none;
}

.text-field-input {
    padding: var(--side-padding) var(--tb-padding);
    font-size: 20px;
    font-weight: 500;

    border: none;
    border: 1px solid var(--stroke);
    background-color: var(--bg-third);
    border-radius: var(--corner-lv2);
    font-family: "SourceSans3", monospace;
}

.text-field[data-type="pass"] {
    position: relative;
}

.text-field[data-type="pass"] > .text-field-input {
    padding-right: 42px;
}

.text-field-passicon {
    position: absolute;
    top: calc(var(--tb-padding) - 4px);
    right: calc(var(--side-padding) + 4px);

    border: none;
    background-color: transparent;
}

/* input[type="password"] {
    letter-spacing: 0.222222222rem;
} */
