.helper-modal-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 10px;
    border-radius: 10px;

    background-color: var(--bg-second);
    border: 1px solid var(--stroke);
    cursor: pointer;
}

.helper-modal-label {
    color: var(--text-placeholder);
}

.helper-modal-description {
    position: absolute;
    z-index: 100;

    width: 200%;
    padding: 16px;
    border-radius: 10px;

    background-color: var(--bg-second);
    border: 2px solid var(--stroke);
}

.helper-modal-description[data-position="bottom"] {
    top: 140%;
    right: 50%;

    -ms-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
}
