.overall {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;

    width: 100%;
    height: 100vh;

    background-color: #100f0f9e;
    transition: all ease-in 300ms;
}

.overall.child-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    position: relative;

    border-radius: 10px;
    border: 2px solid var(--stroke-second);
    background-color: var(--bg);
}

.small-modal {
    position: absolute;

    z-index: 10;
    overflow-y: auto;

    min-width: 300px;
    max-width: 500px;
    max-height: 80vh;

    background-color: var(--bg);
    border: none;
    border: 2px solid var(--stroke-second);
    border-radius: 8px;
}

.small-modal[data-direction="top"] {
    bottom: 120%;
    left: 0;
}

.small-modal[data-direction="bottom"] {
    top: 120%;
    right: 0;
}

.small-modal.parent-size {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: auto;
    margin: 0;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 10px;

    border: none;
    transition: all ease-out 200ms;
}

.modal-close-button:hover {
    transform: scale(1.14);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
